@inherits LayoutComponentBase
<ErrorBoundary>
    <ChildContent>
        @Body
    </ChildContent>
    <ErrorContent Context="Exception">
        <div>@Exception.Message</div>
    </ErrorContent>
</ErrorBoundary>