@inherits LayoutComponentBase
<ErrorBoundary>
    <ChildContent>
        <div class="main-layout">
            @Body
        </div>
    </ChildContent>
    <ErrorContent Context="Exception">
        <div>@Exception.Message</div>
    </ErrorContent>
</ErrorBoundary>