.title {
    text-align: center;
}

.year-picker {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
}

.year-inner {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.year-buttons {
    display: flex;
    gap: 0.5rem;
}

.year-buttons > div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.year-label {
    font-weight: bold;
    min-width: 3rem;
    text-align: center;
}
